In [2]:
import pandas as pd
from methods.make_single_df_from_bid_ask import make_single_df_from_bid_ask
# from methods.make_5min_volume_from_1_min_volume import make_5min_volume_from_1min_volume
from machine_learning_models.lstm.eurusd.lstm_predict_candle import predict_candle
from machine_learning_models.lstm.eurusd.lstm_use_prediction import use_prediction
# import torch

In [3]:
# Display all rows
pd.set_option('display.max_rows', None)

# Display all columns
pd.set_option('display.max_columns', None)

# Prevent column width truncation
pd.set_option('display.max_colwidth', None)

# Display full content without wrapping
pd.set_option('display.expand_frame_repr', False)

In [4]:
BASE_DIR = 'hist_data/'
TIME_SERIES_FOLDER = 'EURUSD/'
BID_FOLDER = '5_min/Bid/'
ASK_FOLDER = '5_min/Ask/'

BASE_DIR_LSTM = 'machine_learning_models/lstm/eurusd/pickle_files'
LSTM_MAX_VAL = BASE_DIR_LSTM + '/lstm_regressor_predict_max_values-2025-04-07.pkl'
LSTM_MIN_VAL = BASE_DIR_LSTM + '/lstm_regressor_predict_min_values-2025-04-07.pkl'
SCALER_X_MIN = BASE_DIR_LSTM + '/lstm_regressor_scaler_x_min.pkl'
SCALER_X_MAX = BASE_DIR_LSTM + '/lstm_regressor_scaler_x_max.pkl'
SCALER_Y_MIN = BASE_DIR_LSTM + '/lstm_regressor_scaler_y_min.pkl'
SCALER_Y_MAX = BASE_DIR_LSTM + '/lstm_regressor_scaler_y_max.pkl'

In [5]:
df_joined_train, df_joined_test, df_joined_val = make_single_df_from_bid_ask(
    base_dir=BASE_DIR,
    time_series_folder=TIME_SERIES_FOLDER
)

In [6]:
print(len(df_joined_train), len(df_joined_test), len(df_joined_val))

13845 4615 4616

In [7]:
columns_for_y = [
        "open_plus_5min",
        "high_plus_5min",
        "low_plus_5min",
        "close_plus_5min",
        "open_plus_10min",    
        "high_plus_10min",
        "low_plus_10min",
        "close_plus_10min",
        "open_plus_15min",
        "high_plus_15min",
        "low_plus_15min",
        "close_plus_15min",
        "open_plus_20min",
        "high_plus_20min",
        "low_plus_20min",
        "close_plus_20min",
        "open_plus_25min",
        "high_plus_25min",
        "low_plus_25min",
        "close_plus_25min",
        "open_plus_30min",
        "high_plus_30min",
        "low_plus_30min",
        "close_plus_30min",
        "open_plus_35min",
        "high_plus_35min",
        "low_plus_35min",
        "close_plus_35min",
        "open_plus_40min",
        "high_plus_40min",
        "low_plus_40min",
        "close_plus_40min"
    ]

In [ ]:
for col in columns_for_y:
    predict_candle(df=df_joined_train, test_df=df_joined_test, validation_df=df_joined_val, base_dir=BASE_DIR_LSTM, column_for_y=col)

Epoch 60/150 | Train Loss: 0.001763 | Test Loss: 0.001697 | Validation loss: 0.001337
Epoch 70/150 | Train Loss: 0.002706 | Test Loss: 0.001588 | Validation loss: 0.001012
Epoch 80/150 | Train Loss: 0.002599 | Test Loss: 0.002295 | Validation loss: 0.001895
Epoch 90/150 | Train Loss: 0.001539 | Test Loss: 0.001599 | Validation loss: 0.001067
Epoch 100/150 | Train Loss: 0.005057 | Test Loss: 0.002018 | Validation loss: 0.002560
Epoch 110/150 | Train Loss: 0.002534 | Test Loss: 0.001545 | Validation loss: 0.001180
Epoch 120/150 | Train Loss: 0.003024 | Test Loss: 0.001611 | Validation loss: 0.001844
Epoch 130/150 | Train Loss: 0.003050 | Test Loss: 0.001529 | Validation loss: 0.001769
Epoch 140/150 | Train Loss: 0.003610 | Test Loss: 0.001495 | Validation loss: 0.001917
Epoch 150/150 | Train Loss: 0.003970 | Test Loss: 0.001580 | Validation loss: 0.002138

Final Train RMSE: 0.007779 | Test RMSE: 0.004998 | Validation RMSE: 0.005709
Deleting raw dataframes
Raw dataframes deleted
*******************************
Before training on test sample:
*******************************
Epoch 10/150 | Train Loss: 0.011565 | Test Loss: 0.032078 | Validation loss: 0.037896
Epoch 20/150 | Train Loss: 0.006452 | Test Loss: 0.007348 | Validation loss: 0.012984
Epoch 30/150 | Train Loss: 0.002396 | Test Loss: 0.014987 | Validation loss: 0.008579
Epoch 40/150 | Train Loss: 0.001795 | Test Loss: 0.007989 | Validation loss: 0.006694

In [ ]:
dataframe_actual = df_joined_val.tail(8)

In [ ]:
len(df_joined_val)

4616

In [ ]:
dataframe_line = df_joined_val.iloc[4547:4608]

In [ ]:
len(dataframe_line)

61

In [ ]:
open_values = pd.Series()
high_values = pd.Series()
low_values = pd.Series()
close_values = pd.Series()

In [ ]:

for idx in range(len(columns_for_y)):
    complete_df_dir = BASE_DIR_LSTM + f'/lstm_regressor_predict_candle_{columns_for_y[idx]}.pkl'
    # print(idx % 4)
    
    predicted_value = use_prediction(dataframe_line=dataframe_line, 
                predict_scaler_x=BASE_DIR_LSTM + '/lstm_regressor_scaler_x.pkl', 
                predict_scaler_y=BASE_DIR_LSTM + f'/lstm_regressor_scaler_y_{columns_for_y[idx]}.pkl', 
                y_predictor=BASE_DIR_LSTM + f'/lstm_regressor_predict_candle_{columns_for_y[idx]}.pkl')
    # print(predicted_value)
    if(idx % 4 == 0):
        open_values = pd.concat([open_values, pd.Series([predicted_value])], ignore_index=True)
    elif(idx % 4 == 1):
        high_values = pd.concat([high_values, pd.Series([predicted_value])], ignore_index=True)
    elif(idx % 4 == 2):
        low_values = pd.concat([low_values, pd.Series([predicted_value])], ignore_index=True)
    elif(idx % 4 == 3):
        close_values = pd.concat([close_values, pd.Series([predicted_value])], ignore_index=True)

C:\Users\egoma\AppData\Local\Temp\ipykernel_8548\654173068.py:11: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  open_values = pd.concat([open_values, pd.Series([predicted_value])], ignore_index=True)
C:\Users\egoma\AppData\Local\Temp\ipykernel_8548\654173068.py:13: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  high_values = pd.concat([high_values, pd.Series([predicted_value])], ignore_index=True)
C:\Users\egoma\AppData\Local\Temp\ipykernel_8548\654173068.py:15: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  low_values = pd.concat([low_values, pd.Series([predicted_value])], ignore_index=True)
C:\Users\egoma\AppData\Local\Temp\ipykernel_8548\654173068.py:17: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  close_values = pd.concat([close_values, pd.Series([predicted_value])], ignore_index=True)

In [ ]:
close_values

0    1.077253
1    1.078431
2    1.076858
3    1.076862
4    1.077729
5    1.077542
6    1.078294
7    1.077232
dtype: float32

In [ ]:
last_candle_time = dataframe_line.iloc[-1].name

In [ ]:
num_future_candles = 8
future_times = pd.date_range(
    start=last_candle_time + pd.Timedelta(minutes=5),
    periods=num_future_candles,
    freq='5min'
).tolist()

In [ ]:
vals_dict = {
    'open': open_values,
    'high': high_values,
    'low': low_values,
    'close': close_values
}

In [ ]:
predicted_values_dataframe = pd.DataFrame(vals_dict)

In [ ]:
predicted_values_dataframe.index = future_times

In [ ]:
predicted_values_dataframe

                         open      high       low     close
2025-04-24 20:40:00  1.075461  1.079114  1.076885  1.077253
2025-04-24 20:45:00  1.076338  1.076614  1.078241  1.078431
2025-04-24 20:50:00  1.079613  1.075754  1.079537  1.076858
2025-04-24 20:55:00  1.078560  1.076680  1.078243  1.076862
2025-04-24 21:00:00  1.077219  1.076328  1.076010  1.077729
2025-04-24 21:05:00  1.079271  1.076812  1.079775  1.077542
2025-04-24 21:10:00  1.079175  1.079330  1.077960  1.078294
2025-04-24 21:15:00  1.079205  1.078918  1.076460  1.077232

In [ ]:
dataframe_actual[['open', 'high', 'low', 'close']]

                        open     high      low    close
time
2025-04-24 20:40:00  1.13949  1.13968  1.13943  1.13965
2025-04-24 20:45:00  1.13957  1.13983  1.13956  1.13982
2025-04-24 20:50:00  1.13982  1.13982  1.13932  1.13936
2025-04-24 20:55:00  1.13943  1.13944  1.13853  1.13854
2025-04-25 03:00:00  1.13484  1.13520  1.13484  1.13503
2025-04-25 03:05:00  1.13502  1.13507  1.13492  1.13502
2025-04-25 03:10:00  1.13501  1.13519  1.13484  1.13492
2025-04-25 03:15:00  1.13490  1.13520  1.13482  1.13510

In [ ]:
# predict_min_stats(df_joined_train, df_joined_test, df_joined_val, scaler_x_dir=SCALER_X_MIN, scaler_y_dir=SCALER_Y_MIN, model_dir=LSTM_MIN_VAL)

In [ ]:
# predict_max_stats(df_joined_train, df_joined_test, df_joined_val, scaler_x_dir=SCALER_X_MAX, scaler_y_dir=SCALER_Y_MAX, model_dir=LSTM_MAX_VAL)