In [1]:
import pandas as pd
from methods.make_single_df_test import make_single_df_from_bid_test
from methods.make_5min_volume_from_1_min_volume import make_5min_volume_from_1min_volume

In [2]:
# pd.set_option('display.float_format', '{:.0f}'.format)

In [3]:
# pd.reset_option('display.float_format')

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)



base_dir = "hist_data/EURUSD/1_min/"

dir_bid = base_dir + "Bid/EURUSD_Candlestick_1_m_BID_01.01.2004-01.01.2007.csv"
dir_ask = base_dir + "Ask/EURUSD_Candlestick_1_M_ASK_01.01.2004-01.01.2007.csv"


df_5min_bid = pd.read_csv(dir_bid, index_col="Gmt time").sort_index(ascending=True)
df_5min_ask = pd.read_csv(dir_ask, index_col="Gmt time").sort_index(ascending=True)

df_joined = make_single_df_from_bid_test(df_bid=df_5min_bid, df_ask=df_5min_ask)

print(df_joined.head())

                            open    close     high      low  volume
Gmt time
01.01.2004 00:00:00.000  1.25934  1.25953  1.25960  1.25930   951.0
01.01.2004 00:01:00.000  1.25953  1.25904  1.25953  1.25901  1481.5
01.01.2004 00:02:00.000  1.25907  1.25886  1.25910  1.25881  1120.2
01.01.2004 00:03:00.000  1.25901  1.25886  1.25901  1.25886     0.0
01.01.2004 00:04:00.000  1.25901  1.25886  1.25901  1.25886     0.0

In [5]:
df_joined = make_5min_volume_from_1min_volume(df_joined=df_joined)

In [6]:
df_joined.head()

minute_columns,1st_minute_volume,2nd_minute_volume,3rd_minute_volume,4th_minute_volume,5th_minute_volume
timestamp_5min,,,,,
2004-01-01 00:05:00,951.0,1481.5,1120.2,0.0,0.0
2004-01-01 00:10:00,1205.5,398.4,0.0,0.0,0.0
2004-01-01 00:15:00,0.0,0.0,841.3,886.4,0.0
2004-01-01 00:20:00,654.6,510.0,1349.6,1237.7,0.0
2004-01-01 00:25:00,0.0,0.0,0.0,0.0,0.0