In [1]:
import pandas as pd
import MetaTrader5 as mt
from methods.make_single_df_from_bid_ask import make_single_df_from_bid_ask
from methods.make_dataframe_line import make_dataframe_line
# from methods.make_5min_volume_from_1_min_volume import make_5min_volume_from_1min_volume
from machine_learning_models.lstm.eurusd.lstm_predict_candle import predict_candle
# from machine_learning_models.lstm.eurusd.lstm_use_prediction import use_prediction
from machine_learning_models.lstm.lstm_collect_predictions_into_dataframe import collect_predictions_into_dataframe
# import torch

In [2]:
if not mt.initialize():
    print("initialize() failed, error code =", mt.last_error())
    quit()

account=52234337
pw='b&89zG&!PruWtP'

authorized = mt.login(account, pw)

In [3]:
# Display all rows
pd.set_option('display.max_rows', None)

# Display all columns
pd.set_option('display.max_columns', None)

# Prevent column width truncation
pd.set_option('display.max_colwidth', None)

# Display full content without wrapping
pd.set_option('display.expand_frame_repr', False)

In [4]:
TIMEFRAME_SMALL_MT = mt.TIMEFRAME_M5

In [25]:
df_from_server = make_dataframe_line(timeframe=TIMEFRAME_SMALL_MT, start_pos=0, end_pos=92)

In [26]:
len(df_from_server)

61

In [27]:
BASE_DIR = 'hist_data/'
TIME_SERIES_FOLDER = 'EURUSD/'
BID_FOLDER = '5_min/Bid/'
ASK_FOLDER = '5_min/Ask/'

BASE_DIR_LSTM = 'machine_learning_models/lstm/eurusd/pickle_files'
LSTM_MAX_VAL = BASE_DIR_LSTM + '/lstm_regressor_predict_max_values-2025-04-07.pkl'
LSTM_MIN_VAL = BASE_DIR_LSTM + '/lstm_regressor_predict_min_values-2025-04-07.pkl'
SCALER_X_MIN = BASE_DIR_LSTM + '/lstm_regressor_scaler_x_min.pkl'
SCALER_X_MAX = BASE_DIR_LSTM + '/lstm_regressor_scaler_x_max.pkl'
SCALER_Y_MIN = BASE_DIR_LSTM + '/lstm_regressor_scaler_y_min.pkl'
SCALER_Y_MAX = BASE_DIR_LSTM + '/lstm_regressor_scaler_y_max.pkl'

In [28]:
len(df_from_server)

61

In [29]:
df_joined_train, df_joined_test, df_joined_val = make_single_df_from_bid_ask(
    base_dir=BASE_DIR,
    time_series_folder=TIME_SERIES_FOLDER
)

In [30]:
print(len(df_joined_train), len(df_joined_test), len(df_joined_val))

13845 4615 4616

In [31]:
columns_for_y = [
        "open_plus_5min",
        "high_plus_5min",
        "low_plus_5min",
        "close_plus_5min",
        "open_plus_10min",    
        "high_plus_10min",
        "low_plus_10min",
        "close_plus_10min",
        "open_plus_15min",
        "high_plus_15min",
        "low_plus_15min",
        "close_plus_15min",
        "open_plus_20min",
        "high_plus_20min",
        "low_plus_20min",
        "close_plus_20min",
        "open_plus_25min",
        "high_plus_25min",
        "low_plus_25min",
        "close_plus_25min",
        "open_plus_30min",
        "high_plus_30min",
        "low_plus_30min",
        "close_plus_30min",
        "open_plus_35min",
        "high_plus_35min",
        "low_plus_35min",
        "close_plus_35min",
        "open_plus_40min",
        "high_plus_40min",
        "low_plus_40min",
        "close_plus_40min"
    ]

In [ ]:
for col in columns_for_y:
    predict_candle(df=df_joined_train, test_df=df_joined_test, validation_df=df_joined_val, base_dir=BASE_DIR_LSTM, column_for_y=col)

In [33]:
dataframe_actual = df_joined_val.tail(8)

In [34]:
len(df_joined_val)

4616

In [35]:
dataframe_line = df_joined_val.iloc[4547:4608]

In [36]:
len(dataframe_line)

61

In [37]:
dataframe_predicted = collect_predictions_into_dataframe(dataframe_line=dataframe_line, base_dir_lstm=BASE_DIR_LSTM)

e:\1.WORKING-FOLDER\Свой-бизнес\Приложение_для_торговли_на_форекс_и_фондовом_рынке\python_algo_ai\machine_learning_models\lstm\lstm_collect_predictions_into_dataframe.py:71: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  open_values = pd.concat([open_values, pd.Series([predicted_value])], ignore_index=True)
e:\1.WORKING-FOLDER\Свой-бизнес\Приложение_для_торговли_на_форекс_и_фондовом_рынке\python_algo_ai\machine_learning_models\lstm\lstm_collect_predictions_into_dataframe.py:73: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  high_values = pd.concat([high_values, pd.Series([predicted_value])], ignore_index=True)
e:\1.WORKING-FOLDER\Свой-бизнес\Приложение_для_торговли_на_форекс_и_фондовом_рынке\python_algo_ai\machine_learning_models\lstm\lstm_collect_predictions_into_dataframe.py:75: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  low_values = pd.concat([low_values, pd.Series([predicted_value])], ignore_index=True)
e:\1.WORKING-FOLDER\Свой-бизнес\Приложение_для_торговли_на_форекс_и_фондовом_рынке\python_algo_ai\machine_learning_models\lstm\lstm_collect_predictions_into_dataframe.py:77: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  close_values = pd.concat([close_values, pd.Series([predicted_value])], ignore_index=True)

In [38]:
dataframe_predicted_from_server = collect_predictions_into_dataframe(dataframe_line=df_from_server, base_dir_lstm=BASE_DIR_LSTM)

e:\1.WORKING-FOLDER\Свой-бизнес\Приложение_для_торговли_на_форекс_и_фондовом_рынке\python_algo_ai\machine_learning_models\lstm\lstm_collect_predictions_into_dataframe.py:71: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  open_values = pd.concat([open_values, pd.Series([predicted_value])], ignore_index=True)
e:\1.WORKING-FOLDER\Свой-бизнес\Приложение_для_торговли_на_форекс_и_фондовом_рынке\python_algo_ai\machine_learning_models\lstm\lstm_collect_predictions_into_dataframe.py:73: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  high_values = pd.concat([high_values, pd.Series([predicted_value])], ignore_index=True)
e:\1.WORKING-FOLDER\Свой-бизнес\Приложение_для_торговли_на_форекс_и_фондовом_рынке\python_algo_ai\machine_learning_models\lstm\lstm_collect_predictions_into_dataframe.py:75: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  low_values = pd.concat([low_values, pd.Series([predicted_value])], ignore_index=True)
e:\1.WORKING-FOLDER\Свой-бизнес\Приложение_для_торговли_на_форекс_и_фондовом_рынке\python_algo_ai\machine_learning_models\lstm\lstm_collect_predictions_into_dataframe.py:77: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  close_values = pd.concat([close_values, pd.Series([predicted_value])], ignore_index=True)

In [39]:
dataframe_predicted_from_server

                         open      high       low     close
2025-05-19 07:30:00  1.075377  1.076814  1.080789  1.076232
2025-05-19 07:35:00  1.075250  1.077784  1.071479  1.072611
2025-05-19 07:40:00  1.073302  1.071467  1.071329  1.071070
2025-05-19 07:45:00  1.072654  1.072949  1.074550  1.073447
2025-05-19 07:50:00  1.077282  1.071073  1.072696  1.072657
2025-05-19 07:55:00  1.072933  1.073526  1.074306  1.072943
2025-05-19 08:00:00  1.073411  1.072964  1.074182  1.068992
2025-05-19 08:05:00  1.076073  1.077262  1.071470  1.079861

In [48]:
df_test = dataframe_actual[['open', 'high', 'low', 'close']].copy()

In [49]:
df_test.index = dataframe_predicted.index.to_list()

In [50]:
df_test

                        open     high      low    close
2025-04-24 20:40:00  1.13949  1.13968  1.13943  1.13965
2025-04-24 20:45:00  1.13957  1.13983  1.13956  1.13982
2025-04-24 20:50:00  1.13982  1.13982  1.13932  1.13936
2025-04-24 20:55:00  1.13943  1.13944  1.13853  1.13854
2025-04-24 21:00:00  1.13484  1.13520  1.13484  1.13503
2025-04-24 21:05:00  1.13502  1.13507  1.13492  1.13502
2025-04-24 21:10:00  1.13501  1.13519  1.13484  1.13492
2025-04-24 21:15:00  1.13490  1.13520  1.13482  1.13510

In [41]:
dataframe_predicted

                         open      high       low     close
2025-04-24 20:40:00  1.093758  1.096595  1.096088  1.097692
2025-04-24 20:45:00  1.095082  1.095534  1.095887  1.096157
2025-04-24 20:50:00  1.096390  1.097448  1.094147  1.096993
2025-04-24 20:55:00  1.096752  1.094848  1.097177  1.095333
2025-04-24 21:00:00  1.094807  1.095214  1.097806  1.093498
2025-04-24 21:05:00  1.096133  1.094785  1.098798  1.093403
2025-04-24 21:10:00  1.093172  1.094659  1.093562  1.095735
2025-04-24 21:15:00  1.096783  1.094513  1.096123  1.093028

In [52]:
df_result = df_test.subtract(dataframe_predicted, axis=1)

In [53]:
df_result.mean()

open     0.041900
high     0.041979
low      0.040834
close    0.041950
dtype: float64

In [54]:
dataframe_predicted.add(0.041)

                         open      high       low     close
2025-04-24 20:40:00  1.134758  1.137595  1.137088  1.138692
2025-04-24 20:45:00  1.136082  1.136534  1.136887  1.137157
2025-04-24 20:50:00  1.137390  1.138448  1.135147  1.137993
2025-04-24 20:55:00  1.137752  1.135848  1.138177  1.136333
2025-04-24 21:00:00  1.135807  1.136214  1.138806  1.134498
2025-04-24 21:05:00  1.137133  1.135785  1.139798  1.134403
2025-04-24 21:10:00  1.134172  1.135659  1.134562  1.136735
2025-04-24 21:15:00  1.137783  1.135513  1.137123  1.134028

In [42]:
# predict_min_stats(df_joined_train, df_joined_test, df_joined_val, scaler_x_dir=SCALER_X_MIN, scaler_y_dir=SCALER_Y_MIN, model_dir=LSTM_MIN_VAL)

In [43]:
# predict_max_stats(df_joined_train, df_joined_test, df_joined_val, scaler_x_dir=SCALER_X_MAX, scaler_y_dir=SCALER_Y_MAX, model_dir=LSTM_MAX_VAL)